<div class="wrapper">
    <div class="modal">
        <div class="modal-header">
            <p class="main-color">
                Assine o Sexlog VIP
            </p>
            <div class="close-btn">
                <span class="vertical-helper"></span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>

        <div class="modal-content clearfix">
            <div class="plano-flow clearfix">
                <p class="active">Escolha o plano ideal para você</p>
                <p>Escolha a forma de pagamento</p>
            </div>

            <div class="plano-info">
                <span class="vertical-helper"></span>
                <div class="inner-wrapper">
                    <div class="valor-container">
                        <span class="real-symbol">R$</span>
                        <p class="valor-number main-color">
                            49<span class="moeda">90</span>
                        </p>
                        <span class="mes-texto">/mês</span>
                    </div>

                    <div class="pagamento-detalhes">
                        <div class="pagamento-tipo credito">
                            <img src="../assets/img/icon-credit-card.svg" alt="icone cartao de credito">
                            <p>
                                Pagamento no <strong>cartão de crédito</strong>
                            </p>
                        </div>
                        <div class="pagamento-tipo debito">
                            <img src="../assets/img/icon-debit.svg" alt="icone debito">
                            <p>
                                Parcela única no <strong>débito em conta</strong>
                            </p>
                        </div>
                        <div class="pagamento-tipo boleto">
                            <img src="../assets/img/icon-boleto.svg" alt="icone boleto">
                            <p>
                                Parcela única no <strong>débito em conta</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="plano-opcoes">
                <span class="vertical-helper"></span>
                <div class="inner-wrapper">
                    <div id="1" class="active opcao-box">
                        <span class="bullet-check"></span>
                        <span class="text">1 mês</span>
                    </div>

                    <div id="2" class="opcao-box">
                        <span class="bullet-check"></span>
                        <span class="text">3 meses</span>
                        <span class="economize">Economize <span class="percetage">30%</span></span>
                    </div>

                    <div id="3" class="opcao-box">
                        <span class="bullet-check"></span>
                        <span class="text">6 meses</span>
                        <span class="economize">Economize <span class="percetage">50%</span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="ssl-symbol">

            </div>
            <div class="btn-container">

            </div>
        </div>
    </div>
</div>
