<div class="wrapper">
    <div class="vipmodal">
        <div class="vipmodal-header">
            <p class="main-color">
                Assine o Sexlog VIP
            </p>
            <div class="close-btn">
                <span class="vertical-helper"></span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>

        <div class="vipmodal-content clearfix">
            <div class="plano-flow clearfix">
                <div class="flow-content active">
                    <p>Escolha o plano ideal pra você</p>
                </div>
                <div class="flow-content">
                    <p>Escolha a forma de pagamento</p>
                </div>
            </div>

            <div id="payment-info" class="plano-content">
                <div class="plano-info">
                    <span class="vertical-helper"></span>
                    <div class="inner-wrapper">
                        <div class="valor-container">
                            <span class="real-symbol">{{ valorCurrency }}</span>
                            <p class="valor-number main-color">
                                {{ valorInteger }}<span class="moeda">{{ valorDecimal }}</span>
                            </p>
                            <span class="mes-texto">{{ valorPeriodo }}</span>
                        </div>

                        <div class="pagamento-detalhes">
                            <div class="pagamento-tipo credito">
                                <img src="../assets/img/icon-credit-card.svg" alt="icone cartao de credito">
                                <p>
                                    {{ creditoTexto }}
                                </p>
                            </div>
                            <div class="pagamento-tipo debito">
                                <img src="../assets/img/icon-debit.svg" alt="icone debito">
                                <p>
                                    {{ debitoTexto }}
                                </p>
                            </div>
                            <div class="pagamento-tipo boleto">
                                <img src="../assets/img/icon-boleto.svg" alt="icone boleto">
                                <p>
                                    {{ boletoTexto }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="plano-opcoes">
                    <span class="vertical-helper"></span>
                    <div class="inner-wrapper">
                        <div id="plano-1" data-id="0" class="opcao-box active" (click)="choosePlanOption($event)">
                            <span class="bullet-check"></span>
                            <p class="text">{{ firstName }}</p>
                            <span class="economize"></span>
                        </div>

                        <div id="plano-2" data-id="1" class="opcao-box" (click)="choosePlanOption($event)">
                            <span class="bullet-check"></span>
                            <p class="text">{{ secondName }}</p>
                            <span class="economize"></span>
                        </div>

                        <div id="plano-3" data-id="2" class="opcao-box" (click)="choosePlanOption($event)">
                            <span class="bullet-check"></span>
                            <p class="text">{{ thirdName }}</p>
                            <span class="economize"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="payment-data" class="plano-content container" style="display: none;">
                <div class="plano-escolhido">
                    <p>
                        Plano escolhido: <span>Trimestral - R$119,70</span>
                    </p>
                </div>

                <div id="credit-card-form" class="form-container clearfix">
                    <form action="">
                        <div class="input-container col-md-8">
                            <label for="">Número do cartão</label>
                            <input type="text" class="form-control" placeholder="Número do cartão">
                        </div>
                        <div class="input-container col-md-4">
                            <label>Validade</label>
                            <select id="validade-mes"name="validade-mes" class="form-control">
                                <option value="">Mês</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select id="validade-ano" name="validade-ano" class="form-control">
                                <option value="">Ano</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                            </select>
                        </div>

                        <div class="input-container col-md-8">
                            <label for="">Nome do Titular</label>
                            <input type="text" class="form-control" placeholder="Nome do titular">
                        </div>
                        <div class="input-container col-md-4">
                            <label for="">Código de segurança</label>
                            <input type="number" class="form-control" placeholder="000">
                        </div>
                    </form>
                </div>

                <div class="privacidade-warning col-md-12">
                    <p class="alert-warning">Para sua privacidade, a cobrança será feita em nome de "assinet-pgto-sl".</p>
                </div>
            </div>

            <div id="payment-end" style="display: none;">
                <img src="../assets/img/icon-check.png" alt="icone confirmacao">
                <p><strong>Parabéns!</strong></p>
                <p>Você agora é um assinante Sexlog!</p>
                <a href="https://www.sexlog.com/" class="main-btn purple-btn">Explorar o Sexlog</a>
            </div>
        </div>

        <div class="vipmodal-footer">
            <div class="ssl-symbol">
                <span class="vertical-helper"></span>
                <div class="inner-wrapper">
                    <img src="../assets/img/icon-secure.png" alt="icone ssl">
                </div>
            </div>
            <div class="btn-container">
                <span class="vertical-helper"></span>
                <div class="inner-wrapper">
                    <button id="steps-btn" type="button" name="button" class="green-btn main-btn next" (click)="onNextStepClick()">Próximo passo: pagamento</button>
                </div>
            </div>
        </div>
    </div>
</div>
