/* You can add global styles to this file, and also import other style files */

// declaração de variáveis
$sexlog-purple: #691979;
$sexlog-green: #49CBA4;
// $main-fontfamily: Signika Negative;
$main-fontfamily: Source Sans Pro;

// declaração de media queries
@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-portrait - 1px}) {
		@content;
	}
}

@mixin tablet-portrait {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : portrait) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : landscape) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: #{$laptop-width - 1px}) {
        @content;
    }
}

@mixin desktop-1366 {
    @media (max-width: #{$desktop-1366-width - 1px}) {
        @content;
    }
}

@mixin desktop-1440 {
    @media (max-width: #{$desktop-1440-width - 1px}) {
        @content;
    }
}

%bfaf {
	content: "";
	position: absolute;
	display: block;
}

// classes genéricas
.main-color {
    color: $sexlog-purple;
}

.clearfix {
    &:before, &:after {
        content: " ";
        display: block;
    }
    &:after {
        clear: both;
    }
}

.vertical-helper {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

// estilização dentro do body
body {
    background-color: #292929;
    font-family: $main-fontfamily;
    position: relative;
    overflow: hidden;

    .wrapper {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: inline-block;

        .vipmodal {
            background-color: #f5f5f5;
            width: 900px;
            // height: 485px;
            position: absolute;
            top: calc(50% - 242.5px);
            left: calc(50% - 450px);
            border-radius: 5px;
            margin: 0;
            overflow: hidden;

            .vipmodal-header {
                position: relative;
                padding: 15px 0;
				background-color: #fff;
                // height: 25px;

                p {
                    text-align: center;
                    font-weight: 700;
                    font-size: 20px;
                    margin: 0;
                }
                .close-btn {
                    color: #626262;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 25px;
                    border-left: 1px solid #E0E0E0;
                    height: 100%;

                    i {
                        max-width: 90%;
                        display: inline-block;
                        vertical-align: middle;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
            }
            .vipmodal-content {
                background-color: #F5F5F5;
                // height: 350px;

                .plano-flow {
                    border-top: 1px solid #E0E0E0;
                    border-bottom: 1px solid #E0E0E0;

                    .flow-content {
                        float: left;
                        width: 50%;
                        padding: 18px 110px;
                        // text-align: center;
                        color: #9C9C9C;
						position: relative;
						background-color: #E9E9E9;

                        &.active {
                            color: $sexlog-purple;
                            background-color: #fff;

                        }
                        &:first-of-type {
							&.active {
								&:after {
									border-left-color: #fff;
								}
							}
							&:after {
	                            @extend %bfaf;
								background-color: transparent;
								top: 0;
								right: -20px;
								width: 0;
								height: 0;
								border-top: 28px solid transparent;
								border-bottom: 28px solid transparent;
								border-left: 20px solid #E9E9E9;
								z-index: 1;
	                        }
						}
						p {
							margin: 0;
							font-size: 16px;
						}
                    }
                }

				#payment-info {
					.plano-info {
	                    float: left;
	                    width: 50%;
	                    text-align: center;
	                    height: 295px;

	                    .inner-wrapper {
	                        display: inline-block;
	                        vertical-align: middle;

	                        .valor-container {
	                            padding: 15px 0 45px;
								margin-bottom: 8px;
								border-bottom: 2px dotted #DCDCDC;

	                            .real-symbol {
									color: #636363;
									vertical-align: top;
									position: relative;
									top: -12px;
									font-size: 18px;
	                            }
	                            .valor-number {
	                                display: inline-block;
	                                font-weight: 700;
	                                font-size: 100px;
	                                vertical-align: super;
	                                font-family: $main-fontfamily;
	                                margin: 0;
	                                line-height: 45px;

	                                .moeda {
	                                    line-height: 15px;
	                                    vertical-align: top;
	                                    font-size: 35px;
	                                }
	                            }
								.mes-texto {
									position: relative;
									top: -4px;
									right: 35px;
									font-size: 18px;
									color: #D51D73;
									font-weight: 500;
								}
	                        }
	                        .pagamento-detalhes {
	                            .pagamento-tipo {
	                                margin: 3px 0;
									text-align: left;

	                                img {
	                                    display: inline-block;
	                                    vertical-align: middle;
	                                    margin: 0 5px;
	                                }
	                                p {
	                                    display: inline-block;
	                                    vertical-align: middle;
	                                    margin: 0;
										font-size: 13px;
										color: #636363;

										strong, b {
											font-weight: 900;
										}
	                                }
	                            }
	                        }
	                    }
	                }
	                .plano-opcoes {
	                    float: left;
	                    width: 50%;
	                    height: 295px;

	                    .inner-wrapper {
	                        display: inline-block;
	                        vertical-align: middle;
	                        width: 92%;

	                        .opcao-box {
	                            background-color: #fff;
	                            width: 100%;
	                            max-width: calc(100% - 55px);
	                            border-radius: 8px;
	                            padding: 22px 20px;
	                            margin-left: 10px;
	                            color: $sexlog-purple;
	                            border: 1px solid #C4C4C4;
	                            font-family: $main-fontfamily;
	                            font-weight: 700;
								position: relative;
								// -webkit-transition: all 250ms ease;
								// transition: all 250ms ease;

	                            &:not(:last-of-type) {
	                                margin-bottom: 5px;
	                            }
	                            &:hover {
									cursor: pointer;
									border-color: $sexlog-purple;
									background-color: #F3D8F8;

									.bullet-check {
										&:after {
											background-color: #F3D8F8;
											border-color: $sexlog-purple;
										}
									}
									&:not(.active) {
										.economize {
											.percetage {
												color: $sexlog-purple;
											}
										}
									}
	                            }
	                            &.active {
	                                background-color: $sexlog-purple;
	                                color: #fff;
	                                border-color: $sexlog-purple;
	                                cursor: default;

									&:after {
			                            @extend %bfaf;
										background-color: transparent;
										top: calc(50% - 24px);
										left: -10px;
										width: 0;
										height: 0;
										border-top: 24px solid transparent;
										border-bottom: 24px solid transparent;
										border-right: 17px solid #691979;
			                        }
									.bullet-check {
										&:after {
											border-color: #fff;
											background-color: #fff;
										    -webkit-box-shadow: inset 0 0 0 4px $sexlog-purple;
										    box-shadow: inset 0 0 0 4px $sexlog-purple;
										}
									}
	                            }
								.bullet-check {
									&:after {
										@extend %bfaf;
										background: #fff;
										border-radius: 100%;
										border: 2px solid #636363;
										display: inline-block;
										width: 18px;
										height: 18px;
										position: relative;
										top: 3px;
										vertical-align: top;
										text-align: center;
										// -webkit-transition: all 250ms ease;
										// transition: all 250ms ease;
									}
								}
								.text {
									margin: 0;
									display: inline-block;
									font-size: 20px;
									margin-left: 10px;
									position: relative;
									top: -2px;
								}
								.economize {
									font-size: 15px;
									font-weight: 400;
									position: absolute;
									right: 15px;
									top: calc(50% - 8px);
									line-height: 20px;

									.percetage {
										color: $sexlog-green;
										font-weight: 900;
										font-size: 18px;
										margin-left: 3px;
									}
								}
	                        }
	                    }
	                }
				}
				#payment-data {
					padding: 0 30px;

					.plano-escolhido {
						padding: 60px 15px 20px;
						font-size: 16px;

						p {
							font-size: 16px;
							color: #9C9C9C;

							span {
								color: #000;
								font-weight: 600;
							}
						}
					}
					#credit-card-form {
						.input-container {
							float: left;
							margin-bottom: 15px;

							label {
								color: #737373;
								font-weight: 500;
								font-size: 16px;
								width: 100%;
								font-weight: 500;
							}
							select {
								float: left;
								padding: 0 15px;
								width: 50%;

								&:first-of-type {
									width: 45%;
									margin-right: 5%;
								}
							}
							.form-control {
								height: 40px;
							}
						}
					}
					.privacidade-warning {
						text-align: center;
						margin: 25px 0 60px;

						.alert-warning {
							margin: 0;
							padding: 20px 0;
							color: #C19850;
							border: 1px solid #FFEC83;
							background-color: #FCF7DE;
							border-radius: 2px;
						}
					}
				}
				#payment-end {
					padding: 85px 0 135px;
					text-align: center;

					img {
						margin-bottom: 30px;
					}
					p {
						color: #666666;
						font-size: 36px;
						margin: 0;
						line-height: 40px;

						strong {
							font-weight: 700;
						}
					}
					a {
						&.main-btn {
							padding: 15px 95px;
							display: inline-block;
							border-radius: 4px;
							font-size: 18px;
							font-weight: 700;
							margin-top: 30px;

							&.purple-btn {
								background-color: $sexlog-purple;
								color: #fff;
							}
						}
					}
				}
            }
            .vipmodal-footer {
                background-color: #F5F5F5;
                height: 80px;
                width: 100%;
                border-top: 1px solid #E0E0E0;

				.ssl-symbol {
					float: left;
					width: 50%;
					height: 100%;

					.inner-wrapper {
						display: inline-block;
						vertical-align: middle;
						width: 70%;
						padding-left: 70px;
					}
				}
				.btn-container {
					float: left;
					width: 50%;
					height: 100%;

					.inner-wrapper {
						display: inline-block;
						vertical-align: middle;
						width: 99%;

						.main-btn {
							font-family: $main-fontfamily;
							font-size: 18px;
							font-weight: 700;
							box-shadow: none;
							width: 100%;
							text-align: center;
							max-width: 400px;
							padding: 13px 0;
							margin-left: 10px;
							border-radius: 6px;
							outline: none;
							border: 2px solid;
							cursor: pointer;

							&.green-btn {
								background-color: $sexlog-green;
								color: #fff;
								border-color: #32B48D;
							}
						}
					}
				}
            }
        }
    }
}
