/* You can add global styles to this file, and also import other style files */

// valor em pixels dos tamanhos de tela mais comuns
$phone-width: 319px;
$tablet-portrait: 768px;
$tablet-landscape: 1025px;
$laptop-width: 1200px;
$desktop-1366-width: 1367px;
$desktop-1440-width: 1441px;

// declaração de variáveis
$sexlog-purple: #691979;
$sexlog-green: #49CBA4;
// $main-fontfamily: Signika Negative;
$main-fontfamily: Source Sans Pro;

// declaração de media queries
@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-portrait - 1px}) {
		@content;
	}
}

@mixin tablet-portrait {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : portrait) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : landscape) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: #{$laptop-width - 1px}) {
        @content;
    }
}

@mixin desktop-1366 {
    @media (max-width: #{$desktop-1366-width - 1px}) {
        @content;
    }
}

@mixin desktop-1440 {
    @media (max-width: #{$desktop-1440-width - 1px}) {
        @content;
    }
}

// estilização que será usada como base para before's e after's
%bfaf {
	content: "";
	position: absolute;
	display: block;
}

// classes genéricas
.main-color {
    color: $sexlog-purple;
}

.clearfix {
    &:before, &:after {
        content: " ";
        display: block;
    }
    &:after {
        clear: both;
    }
}

.vertical-helper {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

// estilização dentro do body
body {
    background-color: #292929;
    font-family: $main-fontfamily;
    position: relative;
    overflow: hidden;

    .wrapper {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: inline-block;

		.main-btn {
			font-family: $main-fontfamily;
			font-size: 18px;
			font-weight: 700;
			box-shadow: none;
			width: 100%;
			text-align: center;
			max-width: 400px;
			padding: 13px 0;
			margin-left: 10px;
			border-radius: 6px;
			outline: none;
			border: 2px solid;
			cursor: pointer;

			@include phone {
				position: fixed;
				left: 0;
				bottom: 0;
				margin-left: 0;
				border-radius: 0;
				border: none;
				padding: 20px 0;
			}
			&.green-btn {
				background-color: $sexlog-green;
				color: #fff;
				border-color: #32B48D;
			}
			&.purple-btn {
				background-color: $sexlog-purple;
				color: #fff;
			}
		}
        .vipmodal {
            background-color: #f5f5f5;
            width: 900px;
            // height: 485px;
            position: absolute;
            top: calc(50% - 242.5px);
            left: calc(50% - 450px);
            border-radius: 5px;
            margin: 0;
            overflow: hidden;

			@include phone {
				width: 100%;
				left: 0;
				top: 0;
				height: 100vh;
				border-radius: 0;
			}
            .vipmodal-header {
                position: relative;
                padding: 15px 0;
				background-color: #fff;
                // height: 25px;

                p {
                    text-align: center;
                    font-weight: 700;
                    font-size: 20px;
                    margin: 0;
                }
                .close-btn {
                    color: #626262;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 25px;
                    border-left: 1px solid #E0E0E0;
                    height: 100%;

                    i {
                        max-width: 90%;
                        display: inline-block;
                        vertical-align: middle;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
            }
            .vipmodal-content {
                background-color: #F5F5F5;
                // height: 350px;

                .plano-flow {
                    border-top: 1px solid #E0E0E0;
                    border-bottom: 1px solid #E0E0E0;

					@include phone {
						display: none;
					}
                    .flow-content {
                        float: left;
                        width: 50%;
                        padding: 18px 110px;
                        // text-align: center;
                        color: #9C9C9C;
						position: relative;
						background-color: #E9E9E9;

                        &.active {
                            color: $sexlog-purple;
                            background-color: #fff;

                        }
                        &:first-of-type {
							&.active {
								&:after {
									border-left-color: #fff;
								}
							}
							&:after {
	                            @extend %bfaf;
								background-color: transparent;
								top: 0;
								right: -20px;
								width: 0;
								height: 0;
								border-top: 28px solid transparent;
								border-bottom: 28px solid transparent;
								border-left: 20px solid #E9E9E9;
								z-index: 1;
	                        }
						}
						p {
							margin: 0;
							font-size: 16px;
						}
                    }
                }

				#payment-info {
					.plano-info {
	                    float: left;
	                    width: 50%;
	                    text-align: center;
	                    height: 295px;

						@include phone {
							width: 100%;
							height: auto;
						}
	                    .inner-wrapper {
	                        display: inline-block;
	                        vertical-align: middle;

	                        .valor-container {
	                            padding: 15px 0;
								// margin-bottom: 8px;
								// border-bottom: 2px dotted #DCDCDC;

								@include phone {
									padding: 45px 0;
								}
	                            .real-symbol {
									color: #636363;
									vertical-align: top;
									position: relative;
									top: -12px;
									font-size: 18px;

									@include phone {
										font-size: 22px;
									}
	                            }
	                            .valor-number {
	                                display: inline-block;
	                                font-weight: 700;
	                                font-size: 100px;
	                                vertical-align: super;
	                                font-family: $main-fontfamily;
	                                margin: 0;
	                                line-height: 45px;

									@include phone {
										font-size: 90px;
									}
	                                .moeda {
	                                    line-height: 15px;
	                                    vertical-align: top;
	                                    font-size: 35px;

										@include phone {
											font-size: 42px;
										}
	                                }
	                            }
								.mes-texto {
									position: relative;
									top: -4px;
									right: 35px;
									font-size: 18px;
									color: #D51D73;
									font-weight: 500;

									@include phone {
										font-size: 22px;
										right: 45px;
									}
								}
	                        }
							.valor-total-container {
								border-bottom: 2px dotted #DCDCDC;
								margin-bottom: 8px;

								@include phone {
									display: none;
								}
								p {
									color: #636363;

									span {
										color: $sexlog-purple;
										font-weight: 700;
									}
								}
							}
	                        .pagamento-detalhes {
								@include phone {
									display: none;
								}
	                            .pagamento-tipo {
	                                margin: 3px 0;
									text-align: left;

	                                img {
	                                    display: inline-block;
	                                    vertical-align: middle;
	                                    margin: 0 5px 0 0;
	                                }
	                                p {
	                                    display: inline-block;
	                                    vertical-align: middle;
	                                    margin: 0;
										font-size: 13px;
										color: #636363;

										strong, b {
											font-weight: 900;
										}
	                                }
	                            }
	                        }
	                    }
	                }
	                .plano-opcoes {
	                    float: left;
	                    width: 50%;
	                    height: 295px;

						@include phone {
							width: 100%;
						}
						.vertical-helper {
							@include phone {
								display: none;
							}
						}
	                    .inner-wrapper {
	                        display: inline-block;
	                        vertical-align: middle;
	                        width: 92%;

							@include phone {
								width: 100%;
							}
	                        .opcao-box {
	                            background-color: #fff;
	                            width: 100%;
	                            max-width: calc(100% - 55px);
	                            border-radius: 8px;
	                            padding: 22px 20px;
	                            margin-left: 10px;
	                            color: $sexlog-purple;
	                            border: 1px solid #C4C4C4;
	                            font-family: $main-fontfamily;
	                            font-weight: 700;
								position: relative;
								// -webkit-transition: all 250ms ease;
								// transition: all 250ms ease;

								@include phone {
									max-width: calc(100% - 10px);
									margin: 0 auto;
									padding: 15px 20px;
								}
	                            &:not(:last-of-type) {
	                                margin-bottom: 5px;
	                            }
	                            &:hover {
									cursor: pointer;
									border-color: $sexlog-purple;
									background-color: #F3D8F8;

									.bullet-check {
										&:after {
											background-color: #F3D8F8;
											border-color: $sexlog-purple;
										}
									}
									&:not(.active) {
										.economize {
											.percetage {
												color: $sexlog-purple;
											}
										}
									}
	                            }
	                            &.active {
	                                background-color: $sexlog-purple;
	                                color: #fff;
	                                border-color: $sexlog-purple;
	                                cursor: default;

									&:after {
			                            @extend %bfaf;
										background-color: transparent;
										top: calc(50% - 24px);
										left: -10px;
										width: 0;
										height: 0;
										border-top: 24px solid transparent;
										border-bottom: 24px solid transparent;
										border-right: 17px solid #691979;

										@include phone {
											content: none;
										}
			                        }
									.bullet-check {
										&:after {
											border-color: #fff;
											background-color: #fff;
										    -webkit-box-shadow: inset 0 0 0 4px $sexlog-purple;
										    box-shadow: inset 0 0 0 4px $sexlog-purple;
										}
									}
	                            }
								.bullet-check {
									&:after {
										@extend %bfaf;
										background: #fff;
										border-radius: 100%;
										border: 2px solid #636363;
										display: inline-block;
										width: 18px;
										height: 18px;
										position: relative;
										top: 3px;
										vertical-align: top;
										text-align: center;
										// -webkit-transition: all 250ms ease;
										// transition: all 250ms ease;
									}
								}
								.text {
									margin: 0;
									display: inline-block;
									font-size: 20px;
									margin-left: 10px;
									position: relative;
									top: -2px;
								}
								.economize {
									font-size: 15px;
									font-weight: 400;
									position: absolute;
									right: 15px;
									top: calc(50% - 8px);
									line-height: 20px;

									.percetage {
										color: $sexlog-green;
										font-weight: 900;
										font-size: 18px;
										margin-left: 3px;
									}
								}
	                        }
	                    }
	                }
				}
				#payment-data {
					padding: 0 30px;

					@include phone {
						padding: 0;
					}
					.plano-escolhido {
						padding: 60px 15px 20px;
						font-size: 16px;

						@include phone {
							display: none;
						}
						&.has-error {
							padding: 15px;
						}
						p {
							font-size: 16px;
							color: #9C9C9C;

							span {
								color: #000;
								font-weight: 600;
							}
						}
					}
					#credit-card-form {
						@include phone {
							padding-top: 10px;
						}
						.input-container {
							float: left;
							margin-bottom: 15px;

							@include phone {
								margin-bottom: 0;
							}
							&.number {
								.form-control {
									background-image: url('./assets/img/credit-card-number.png');
									background-repeat: no-repeat;
									padding-left: 70px;
								}
							}
							&.code {
								.frm-error-wrapper {
									.glyphicon-remove {
										right: calc(40% - 10px);

										@include phone {
											right: calc(40% - 15px);
										}
									}
									.frm-error {
										@include phone {
											right: calc(40% - 30px);
										}
									}
								}
							}
							&.expiration {
								.frm-error-wrapper {
									width: 100%;
									clear: both;
									display: block;
								}
							}
							&.col-md-8 {
								width: 66.666%;

								@include phone {
									width: 100%;
								}
							}
							&.col-md-4 {
								width: 33.333%;

								@include phone {
									width: 100%;
								}
							}
							label {
								color: #737373;
								font-weight: 500;
								font-size: 16px;
								width: 100%;
								font-weight: 600;
							}
							select {
								float: left;
								padding: 0 10px !important;
								width: 50%;

								@include phone {
									width: 30%;
								}
								&:first-of-type {
									width: 45%;
									margin-right: 5%;

									@include phone {
										width: 30%;
									}
								}
							}
							.form-control {
								height: 40px;
								padding-right: 30px;

								&#card-code {
									width: 65%;
								}
								&.has-error {
									border: 2px solid #ec0000;
								}
							}
							.frm-error-wrapper {
								padding: 0;
								margin-bottom: 20px;
								visibility: hidden;

								@include phone {
									display: none;
								}
								&.mobile {
									display: none;

									@include phone {
										display: block;
									}
								}
								&.has-error {
									visibility: visible;
								}
								.glyphicon-remove {
									color: #ec0000;
									top: 30px;
									right: 15px;
								}
								.frm-error {
									color: #ec0000;
									font-weight: 600;
									position: absolute;

									@include phone {
										bottom: 0;
										left: 15px;
									}
								}
							}
						}
					}
					.privacidade-warning {
						text-align: center;
						margin: 25px 0 60px;

						&.has-error {
							margin-bottom: 25px;

							.alert-warning {
								margin-top: -25px;

								@include phone {
									margin-top: -20px;
								}
							}
						}
						.alert-warning {
							margin: 0;
							padding: 20px 0;
							color: #C19850;
							border: 1px solid #FFEC83;
							background-color: #FCF7DE;
							border-radius: 2px;

							@include phone {
								padding: 10px 15px;
								font-size: 12px;
							}
						}
					}
				}
				#payment-end {
					padding: 85px 0 135px;
					text-align: center;

					img {
						margin-bottom: 30px;
					}
					p {
						color: #666666;
						font-size: 36px;
						margin: 0;
						line-height: 40px;

						strong {
							font-weight: 700;
						}
					}
					a {
						&.main-btn {
							display: inline-block;
							margin-top: 30px;
						}
					}
				}
            }
            .vipmodal-footer {
                background-color: #F5F5F5;
                height: 80px;
                width: 100%;
                border-top: 1px solid #E0E0E0;

				@include phone {
					border-top: none;
					height: auto;
				}
				.ssl-symbol {
					float: left;
					width: 50%;
					height: 100%;

					@include phone {
						display: none;
					}
					.inner-wrapper {
						display: inline-block;
						vertical-align: middle;
						width: 70%;
						padding-left: 70px;
					}
				}
				.btn-container {
					float: left;
					width: 50%;
					height: 100%;

					@include phone {
						width: 100%;
					}
					.inner-wrapper {
						display: inline-block;
						vertical-align: middle;
						width: 99%;
					}
				}
            }
        }
    }
}
